[submodule "MTDediMod-versions/v12"]
	path = MTDediMod-versions/v12
	url = ../MTDediMod.git
[submodule "MTDediMod-versions/v19"]
	path = MTDediMod-versions/v19
	url = ../MTDediMod.git
[submodule "MTDediMod"]
	path = MTDediMod
	url = ../MTDediMod.git
